.navBar{
    width: 100%;
    height: 100%;
    background-color: #133A61;
    display: flex;
    align-items: center;
    gap: 50px;
}

.menuIcon{
    width: 30px;
    height: 30px;
}

.navBarparaText{
    color: #438DD8;
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-left: 20px;
    span{
        color: #27C185;
        font-size: 25px;
    }
}